/* CSS SEM USO */

/* ALTERNATIVA 1 */
/* .alternativa-1 {
  width: 15%;
  bottom: 0;
  right: 7%;
}

.alternativa-1:hover {
  width: 1%;
} */

/* ALTERNATINA 2 */
/* .alternativa-2 {
  width: 17%;
  bottom: 0%;
  right: 76%;
}

.alternativa-2:hover {
  width: 18%;
} */

/* ALTERNATIVA 3 */
/* .alternativa-3 {
  width: 16%;
  bottom: 22%;
  right: 70%;
}

.alternativa-3:hover {
  width: 17%;
} */